.my-picture {
    text-align: center;

    img {
        border-radius: 6px;
        margin-top: 20px;
        max-width: 80%;
        height: 200px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 5px $lightGray;
    }
}

.linkedin-contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.3em;
}

.linkedin-contact p {
        a {
            display: flex;
            justify-content: space-evenly;
            margin: 10px;
            svg {
                size: 2em;
                height: 2em;
                width: 2em;
            }

        }    
}

