footer {
    display: flex;
    font-family: $headingFont;
    background-color: $black;
    margin-top: 40px;
    width: 100%;
    text-transform: uppercase;
    
    p{
        
        padding: 5px;
        color: white;
    }
}