header{
    background-color: #fcfcfc;
    font-family: $headingFont;
    font-weight: 400;
    margin: 0;
}

.logo {
    padding: 10px;
}

.logo-link {
    text-decoration: none;
    color: $black;
    margin-right: auto !important;
}

.navbar {
    text-transform: uppercase;
    padding: 10px;
    align-items: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 5px;
    justify-content: space-between;
    text-decoration: none;
    
    a {
        display: flex;
        
        font-size: 1.2em;  
        padding-top: 5px;
        text-decoration: none;
       
    } 
}

.navbar-nav {
    list-style: none;
    display: inline-block;
    flex-direction: column;
    padding-left: 10px;
    margin-bottom: 0; 
}

.collapse:not(.show) {
    display: none;
    text-decoration: none;
    
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    
    //flex-direction: column;
    //padding: 0.5rem 1rem;
    padding-left: 0;
    margin-bottom: 0;
    
    
    
    a {
        color: $darkGray;
    }
}

.collapsing {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;

}

ul {
    margin-top: 0;
}

h1 {
    margin: 0;
    font-size: 1.8em;
}
    
    
        
    