header {
    background-color: #fcfcfc;
    font-family: $headingFont;
    font-weight: 400;
    margin: 0;

}

.logo {
    padding: 10px;
}

.logo-link {
    text-decoration: none;
    color: $black;
    margin-right: auto !important;
}

.navbar {
    text-transform: uppercase;
    padding: 10px;
    align-items: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 5px;
    justify-content: space-between;
    text-decoration: none;

    a {
        display: flex;
        font-size: 1.2em;
        padding-top: 7px;
        text-decoration: none;
    }
}

.navbar-nav {
    list-style: none;
    display: inline-block;
    flex-direction: column;
    padding-left: 10px;
    margin-bottom: 0;
}

.collapse:not(.show) {
    display: none;
    text-decoration: none;
}



.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;

    a {
        color: $darkGray;
    }
}

.navbar-collapse ul a:focus,
.navbar-collapse ul a:active,
.navbar-collapse ul a:hover {
    letter-spacing: 1px;
    transition: all 0.5s ease 0s;
}

.collapsing {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
}

ul {
    margin-top: 0;
}

h1 {
    margin: 0;
    font-size: 1.8em;
}

button {
    background-color: #fcfcfc;
    border-radius: 6px;
    border: 1.5px solid;
    cursor: pointer;
}

.navbar-toggler {
    padding: 3px 12px;
    color: $black;
}

.active {
    font-weight: 700;
}


@media only screen and (min-width: 700px){

    button {
        display: none;
    }

    .collapse:not(.show) {
        display: flex;
    }

    .logo {
        font-size: 1.8vw;
    }

    .navbar-collapse {
       flex-basis: 0;
       flex-grow: 0;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 2vw;
    }

    .navbar-nav a {
        display: flex;
        justify-content: space-evenly;
        margin: 10px;
        
        svg {
            size: 3vw;
            height: 3vw;
            width: 3vw;
        }
    
    }
    


}