header{
    background-color: $darkGray;
    font-family: $headingFont;
    font-weight: 400;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 20px;
    max-width: 1000px;
    text-transform: uppercase;
}

.logo-link {
    text-decoration: none;
    color: white;
}

.home-navbar {
    text-transform: uppercase;
    padding: 10px;
    align-items: center;
    display: block;
    a {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.2em;  
        padding-top: 5px;
    }
}

    
    
        
    