main {
    background-color: #fcfcfc;
    font-family: $bodyFont;
    margin-top: 30px;
        h1 {
            color: $black;
            font-size: 1.2em;
            padding: 0 20px 5px 20px;
            text-align: left;
        }

        h2 {
            color: $black;
            padding: 0 20px 5px 20px;
            text-align: center;
        }
        p{
            color: $black;
            font-size: 1em;
            padding: 0 20px 5px 20px;
            text-align: left;
            line-height: 24pt;
            margin: 1em auto;
        }
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1140px;
}

.react-reveal.intro p {
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $black;
        cursor: pointer;
    }
}

.react-reveal.intro a:hover {
        font-weight: 700;
}

.btn-div {
    margin-top: 30px;
    text-align: center;   
}

.btn-projects {
    display: inline-block;
    font-family: $bodyFont;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 6px;
    border: 1.5px solid;
    padding: 10px 20px;
        a {
            text-decoration: none;
            color: $black;
            font-weight: 700;            
        }
}

.btn-projects:hover {
    background-color: $black;
    transition: all 1s ease;
        a {
            color: white;
        }
}

.project-pic {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    display: inline-block;
    justify-content: center;
        h1{
            padding-top: 10px;
            font-family: $headingFont;
            
            font-size: 4vw;
            text-decoration: underline;
            margin-bottom: 40px;
        }
        img{
            border-radius: 6px;
            margin-top: 20px;
            max-width: 80%;
            box-shadow: 1px 1px 5px $lightGray;
        }
}

.game-project,
.moviedb,
.capstone-seatosky-rapids {
    position: relative;
    margin-bottom: 10px;
        h2 {
            padding-top: 10px;
            font-family: $headingFont;
            text-transform: uppercase;
            font-size: 3vw;
        }
        svg {
            position: absolute;
            top: 50%;
            left: 45%;
            opacity: 0;
        }
}

.game-project:hover, 
.game-project:active,
.moviedb:hover, 
.moviedb:active,
.capstone-seatosky-rapids:hover, 
.capstone-seatosky-rapids:active {

        img { 
            transition: all 2s ease;
            opacity: 0.2;
        }
        svg {
            transition: all 2s ease;
            opacity: 1;
        }
}

.error-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #222629;
    cursor: pointer;
}

@media only screen and (min-width: 700px){
    main {
        max-width: 1140px;
        margin: auto;
            h1 {
                font-size: 1.3em;
            }
            h2 {
                font-size: 1.2em;
            }

            p {
                font-size: 1.1em;
                max-width: 750px;
                line-height: 26pt;
            }
    }

    .project-pic {
        padding: 0 20px 20px 20px;
            h1 {
            font-size: 3vw;      
        }
        h2 {
            font-size: 2.5vw;
        }
    }
}

@media only screen and (min-width: 900px){
    main {
        h1 {
            font-size: 1.5em
        }
        p {
            font-size: 1.2em;
            max-width: 900px;
        }
    }
    
    .project-pic h1 {
        font-size: 1.4em;
    }

    .project-pic h2 {
        font-size: 1.2em;
    }

    .moviedb svg,
    .game-project svg,
    .capstone-seatosky-rapids svg {
        size: 90px;
        height: 90px;
        width: 90px;
    }
}