// Resets
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
    
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
  
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

 


